[Unit]
Description=NeuronOS First-Run Installer
After=graphical.target

[Service]
ExecStart=/usr/local/bin/neuronos-installer
Restart=on-failure
Type=simple

[Install]
WantedBy=default.target

